.pagination {
    .page-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        width: 34px;
        height: 100%;
        line-height: 0;

        &:focus {
            box-shadow: none;
        }
    }
}
