.login {
    background: url('https://images.unsplash.com/photo-1436491865332-7a61a109cc05?q=80&w=1174&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
        no-repeat center top #ffffff;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(88, 131, 163, 0.5);
    }
}

.login-box {
    max-width: 500px;
    background: rgba(255, 255, 255, 0.8);

    &.blur-layer {
        backdrop-filter: blur(5px);
    }

    .form-control {
        padding: 0.75rem;
        padding-left: 2.75rem;
    }
}

.login-header {
    background: $primary;
}

.login-body {
    .material-symbols-outlined {
        position: absolute;
        padding: 0.25rem;
        left: 0.5rem;
        bottom: 0.5rem;
        opacity: 0.75;
    }
}
