.productDetail {
    position: relative;

    .product-img {
        position: relative;
        width: 100%;
        height: 350px;
        top: 0;
        overflow: hidden;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .text-dark {
        li {
            margin-bottom: 0.5rem;
        }
    }

    .detail-img {
        max-width: 300px;
        width: 100%;
        max-height: 200px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .sticky-top {
        top: 100px;
    }
}
