.products {
    position: relative;
    background: $white;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url('https://images.unsplash.com/photo-1526481280693-3bfa7568e0f3?q=80&w=2000&auto=format&fit=crop')
            no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        opacity: 0.08;
        filter: grayscale(100%);
    }

    .card {
        text-decoration: none;
        height: 100%;
    }

    .card-img-top {
        max-height: 250px;
        min-height: 250px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .text-truncate-2 {
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
